[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/libzmq"]
	path = vendor/json
	url = https://github.com/zeromq/libzmq
[submodule "vendor/czmq"]
	path = vendor/czmq
	url = https://github.com/zeromq/czmq
